{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}
    Add Investor
{% endblock title %}

{% block content %}
<div class="container col-md-12  mt-3">

    <h1 class="header my-3">Investor Details</h1>
    <hr class="col-md-6">
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}

        <div class="col-md-6">{{investor.name|as_crispy_field}}</div>
        <div class="col-md-3 my-2">{{investor.short_name|as_crispy_field}}</div>
        <div class="col-md-3 my-2">{{investor.reg_no|as_crispy_field}}</div>
        <div class="col-md-3">{{investor.category|as_crispy_field}}</div>
        <div class="col-md-6 my-2">{{investor.address|as_crispy_field}}</div>

        <div class="col-md-3 my-2">{{investor.city|as_crispy_field}}</div>
        <div class="col-md-1 my-2">{{investor.post_code|as_crispy_field}}</div>

        <div class="col-md-3 my-2">{{investor.key_contact|as_crispy_field}}</div>
        <div class="col-md-3 my-2">{{investor.phone|as_crispy_field}}</div>
        <div class="col-md-3 my-2">{{investor.contact_email|as_crispy_field}}</div>

        <div class="row my-6 mb-2 my-3">
            <div class="col-md-6">
                <button type="submit" value="submit" class="btn btn-block btn-success btn-sm col-md-3"><i class="fas fa-save"></i>  Save</button>
                <a href="{% url 'investors:investors' %}" class="btn btn-secondary btn-sm btn-block btn-danger col-md-3"><i class="fas fa-danger"></i> Close</a> 
            </div>
        </div>

    </form>

</div>
{% endblock content%}