
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home:home' %}">
        <img src="#" alt="" width="30" height="24" class="d-inline-block align-text-top">
        <span>L</span>
        <span>E</span>
        <span>M</span>
        <span>O</span>
    </a>
    
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"></input>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
