{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}
    Add New Deal
{% endblock title %}

{% block content %}

<div class="container col-md-12  mt-3">

    <h1 class="header my-3">Add New Deal</h1>
    <hr class="col-md-6">

    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        {{deal}}

        <div class="row my-6 mb-2 my-3">
            <div class="col-md-6">
                <button type="submit" value="submit" class="btn btn-block btn-success btn-sm col-md-3"><i class="fas fa-save"></i>  Save</button>
                <a href="{% url 'investments:investments' %}" class="btn btn-secondary btn-sm btn-block btn-danger col-md-3"><i class="fas fa-danger"></i> Close</a> 
            </div>
        </div>
    </form>
</div>

{% endblock content%}