{% extends "base.html" %}

{% block title %}
Investments home
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-md-8"> <h5><b>INVESTMENTS</b></h5></div>
    
        <div align="right" class="col-md-4">        
            <a href="{% url 'home:home' %}" class="btn btn-outline-success" style="height:30px;width:110px;padding:2px">
                <i class="fas fa-home"> Home</i>
            </a>
        </div>
    </div>
</div>

<div class="container shadow">
    <a class="btn btn-success btn-sm btn-block mt-3 mb-3 col-12" href="{% url 'investments:add_deal' %}">
        <i class="fas fa-plus"> Add New Deal</i>
    </a>

    <table class="table table-borderless table-hover table-sm" cellspacing="1px">
        <thead class="border-bottom">
            <tr class="" style="font-weight:bold">
                <td>Company name</td>
                <td>Fund name</td>
                <td align="center">Instrument</td>
                <td align="right">Committed</td>
                <td align="right">Invested</td>
                <td align="center">Perf. status</td>
                <td align="center">Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for investment in investments %}
                <tr class="border-bottom" onclick="window.location='{{investment.get_absolute_url}}';"  style="cursor: pointer;">
                    <td>{{investment.inv_company}}</td>
                    <td>{{investment.inv_fund}}</td>
                    <td align="center">{{investment.inv_instrument}}</td>
                    <td align="right">{{investment.inv_commitment}}</td>
                    <td align="right">{{investment.inv_disbursed}}</td>
                    <td align="center">{{investment.perf_status}}</td>
                    <td align="center">
                        <a href="" class="btn btn-sm btn-success">Update</a>
                        <a href="" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}